/* Main background color #FFFFFF */

/* Footer color #000000 */

/* Main text color #212121 */

/* Secondary text color #757575 */

/* Logo specific color #2196F3 */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-specific-color: #2196f3;
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --our-team-bg: #f5f4fa;
}
body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03cm;
  color: var(--main-text-color);
}
/* .section,
.section.team {
  background-color: #242424;
} */
.section {
  padding: 94px 215px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Header container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */

.logo {
  font-family: raleway;
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-footer {
  color: var(--background-color);
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--logo-specific-color);
}
/* Site links */
.site-nav {
  letter-spacing: 0.02cm;
}
.site-nav .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-specific-color);
}
.site-nav .link.current {
  color: var(--logo-specific-color);
}
/* header contacts */
.contacts {
  color: var(--secondary-text-color);
  letter-spacing: 0.02cm;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--logo-specific-color);
}
/* Main title */
.main-section {
  background-color: var(--footer-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 452px 280px 452px;
}
.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06cm;
  text-align: center;
}

/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--background-color);
  background-color: var(--logo-specific-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06cm;
  text-align: center;
}

/* Feature list */
/* .features.section {
  padding: 94px 215px;
} */
.features-section .title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
.features-section .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Our works */
/* .works {
  padding: 94px 215px;
} */
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Our Team section */
.team {
  background-color: var(--our-team-bg);
}
.team-section .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team-section .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}

/* Footer */
.footer {
  background-color: var(--footer-color);

  /* width: 1600px;
  height: 252px; */
}
.footer-contacts {
  color: var(--footer-text);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--logo-specific-color);
}
.address {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

/* Portfolio.html */

/* Filter buttons */
.button-portfolio {
  background-color: var(--our-team-bg);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--background-color);
  background-color: var(--logo-specific-color);
}

/* Main section(Portfolio) */
.portfolio-main-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.portfolio-main-section .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
